*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: monospace;
  letter-spacing: 2px;
  line-height: 1.5;
}

body {
  background-color: #222;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar {
  width: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.navbar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.navbar .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .navbar .nav__links {
    display: none;
  }
}

.navbar .nav__links .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav__links .nav__item .nav__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .nav__links .nav__item .nav__link.active {
  text-decoration: underline;
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  text-decoration-thickness: 5px;
}

.navbar.sticky {
  background-color: #fff;
}

.navbar.sticky .nav__link {
  color: #222 !important;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url("./public/images/hemense.png");
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("./public/images/hemense.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #eee;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 15px;
  font-weight: 900;
}

.hero h3 {
  font-size: 3rem;
  font-weight: 400;
}

.hero p {
  margin-bottom: 2rem;
}

.hero small {
  text-transform: uppercase;
}

.fa-github-square {
  color: #333;
}

.fa-instagram-square {
  color: #fd1d1d;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-facebook-square {
  color: #1877f2;
}

.fa-linkedin-square {
  color: #0077b5;
}
/*# sourceMappingURL=style.css.map */